
<h3 class="text-center text-secondary mb-3">Resultados de {{ empleado.nombre }} {{ empleado.apellido }}</h3>
    <div class="imagenes row mx-0 justify-content-center">
       <div class="col-md-2 pr-0 text-center">
        <p [style.background]="'#EF6E69'" class="mr-2 border p-2 text-white rounded font-weight-bold">Nunca </p>
       </div>

       <div class="col-md-2 pr-0 text-center">
        <p [style.background]="'#F7CE43'" class="mr-2 border p-2 text-white rounded font-weight-bold">Casi nunca </p>
       </div>

       <div class="col-md-2 pr-0 text-center">
        <p [style.background]="'#6CA0CC'" class="mr-2 border p-2 text-white rounded font-weight-bold">A veces </p>
       </div>

       <div class="col-md-2 pr-0 text-center">
        <p [style.background]="'#7388B2'" class="mr-2 border p-2 text-white rounded font-weight-bold">Casi siempre </p>
       </div>

       <div class="col-md-2 pr-0 text-center">
        <p [style.background]="'#77C14E'" class="mr-2 border p-2 text-white rounded font-weight-bold">Siempre</p>
       </div>
</div>

<hr>

<div class="row mx-0">
    <div class="col-md-6 mb-5" *ngFor="let respuesta of empleado.respuestas">
        <p class="text-center text-secondary h5">{{ respuesta.categoria }}</p>
        <div>
            <div>
                <div class="chart">
                    <canvas baseChart [data]="obtenerDatos( respuesta.respuestas )" [chartType]="pieChartType"
                         [colors]="obtenerColores( respuesta.respuestas )">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

</div>
